body {} div {} .selectable {} .column {
    text-align: center;
    border: solid 1px #CCC;
}
.slide {
    margin: 10px 0;
}
.selectionMask {
    background-color: rgba(0, 96, 230, 0.4);
    border-width: 0;
    z-index: 100;
    margin: 0;
    padding:0;
    position: absolute;
    display: none;
}
.selectionMaskDragging{
    background-color: rgba(0, 96, 230, 0.2);
    border-width: 0;
    z-index: 100;
    margin: 0;
    padding:0;
    position: absolute;
}
#myGestureListener {
    position: fixed;
    height: 20px;
    background-color: rgba(101, 171, 176, 50);
    top: 0;
    right: 0;
    z-index: 100;
}
.cursorEntry{
    display: none;
}