/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
html{
  height: 100%;
}
.bubble_top
{
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#setting-panel
{
    opacity: 0;
    height: 80%;
    width: 20%;
    position: fixed;
    left: 75.2%;
    top:-80%;
    background-color: #464342;
}
.bubble_top:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #464342 transparent ;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 110px;
}
.bubble_left 
{
position: relative;
width: 250px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble_left:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #464342;
display: block;
width: 0;
z-index: 3;
left: -15px;
top: 8%;
}
#Add-panel {
    width: 25%;
    opacity: 0;
    height: 80%;
    position: fixed;
    background-color: #464342;
    color: white;
    top: 17%;
    left: -25%;
   
    border-radius: 0.75em;
    padding:0;
    box-shadow: 7px 7px 15px #161415;
    -webkit-transform: translateZ(0);
    z-index: 2;
}
#Addmark
{
    height: 8%;
    min-height: 30px;
    width: 100%;
    background-color: #242525;  
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    display: table;
    color: white;
    vertical-align: middle;
    text-align: center;
}
#Addmark p
{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
#Addmenu
{
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    height: 88%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-color: transparent;
}
#Add-panel::before {
    color: #000;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    
    background-image:none;
    background-attachment:fixed;
    font-family:'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:#BBBFBF;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}
#test1
{
    background-color: #BBBFBF;
}
.logo
{
    height: 100%;
    width: 7%;
    background-image:url(../img/ic_action_overflow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.logo2
{
    height: 100%;
    width: auto;
    background-image:url(../img/ic_action_overflow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#properlogo
{
    background-image:url(../img/ic_action_overflow.png);
    background-repeat: no-repeat;
    background-size: contain;
}
#shadow
{
    position: fixed;
    left: -200%;
    top: 0;
    height: 100%;
    width: 200%;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}
#wrapper
{
    height: 100%;
    width: 100%;
}
#bottom_hollow
{
    width: 100%;
    height: 10%;
}
#innercontent
{
    //overflow: scroll;
    position:  relative;
    top:20%;
    left: 15%;
    margin-top: -50px;
    padding-top: 20px;
    margin-left: -50px;
        background-image: none;
    background-color: white;
    width: 87%;
    //height: 80%;
    //min-height: 80%;
    box-shadow: 0px 10px 15px #161415;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
#preview-panel
{
    opacity: 0;
    background-color: white;
    width: 100%;
    height: auto;
    min-height: 100%;
    top: -100%;
    left: 0;
    position:  absolute;
    z-index: 200;
}
#preview-control
{
    height: 10%;
    width: 5%;
    position: fixed;
    z-index: 250;
    right: 0;
    top: -10%;
}
.ui-btn-inner
{
    padding: 10px;
}
.testbutton{
    background-image: none;
    background-color: transparent;
    border: none;
    display: inline;
    border-image-width: 0;
}
.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}
#propertyPanel
{
    position: fixed;
    height:40%;
    width: 20%;
    left: 0;
    top: -40%;
    z-index: 300;
    background-color: green;
    border-radius: 8px;
}
@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
#headbar
{
    background-image: none;
    background-color: rgb(38,38,38);
    text-align: center;
}
@font-face {
  font-family: 'typicons';
  src: url("path/to/typicons.eot");
  src: url("path/to/typicons.eot?#iefix") format('embedded-opentype'),
       url("path/to/typicons.woff") format('woff'),
       url("path/to/typicons.ttf") format('truetype'),
       url("path/to/typicons.svg#typicons") format('svg');
  font-weight: normal;
  font-style: normal;
}
.ui-panel-inner{
 padding: 0px;
}
#headericon
{
    height: 100%;
}
#header
{
    top: 0;
    left: 0;
    background-color: #161515;
    width: 100%;
    height:8%;
    position: fixed;
    border: 0;
    box-shadow: 0px 10px 20px #161415;
    padding: 0;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
}
#headericon .title #setting
{
    width: 86%;
    height: 100%;
    background-image: url(../img/icons/setting.png);
    background-repeat: no-repeat;
    background-size: contain; 
}

#headericon .title #github
{
    width: 86%;
    height: 100%;
    background-image: url(../img/icons/github.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
#headericon .title #fullscreen
{
    width: 86%;
    height: 100%;
    background-image: url(../img/icons/fullscreen.png);
    background-repeat: no-repeat;
    background-size: contain;
    
}
#tool
{
    margin-left: 10%;
    background-image: url(../img/ic_action_overflow.png);
    background-repeat: no-repeat;
    background-size: contain;  
    height: 100%;
    width: 30%;
    left: 10%;
}

#headericon .title #lefticon
{
    position: absolute;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}
#headericon .title #righticon
{
    position: absolute;
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}
#headericon .title
{
    padding-left: 0;
    padding-right: 0;
    display: table;
    vertical-align: middle;
    text-align: center;
    height: 100%;
}




.title h1
{
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#little
{
    height: 50%;
    width: 20%;
}
#footer
{
    bottom: 0;
    background-color: rgb(38,38,38);
    width: 100%;
    height: 7%;
    position: fixed;
    padding-top: 0px;
    vertical-align: middle;
    text-align: center;
}
.anibox{
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */ 
    animation: mymove 5s infinite;
}
@-webkit-keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}

/* Standard syntax */
@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
#footercontent
{
   margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    
}
a.option_container {
    background-color:transparent;
    width: 100%;
    height: 15%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
a.option_container:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

a.option_container img {
    padding-top:20%; 
    width: 65%;
    vertical-align: middle;
}
a.option_container img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
        vertical-align: middle;'
}
#toolmark
{
    background-color: white;
    height: 9%;
    top: 0px;
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    text-align: center;
}
#githubPanel
{
    background-color: white;
    position: fixed;
    width: 70%;
    height: 50%;
    left: 15%;
    top: 25%;
    z-index: 200;
}
#toolmark img
{
    padding-top: 10%;
    height: 90%;
    width: auto;
}
.item
{
    width: 100%;
}
#toolpanel
{
    background-color: #3B3736;
    position: fixed;
    top: 11%;
    left: 1%;
    width: 7.3%;
    height: 84.5%;
    box-shadow: 7px 7px 15px #161415;
    border-radius: 8px;
    z-index: 3;
}
#navpanel
{
    width: 8%;
    height: 100vh;
    margin: 0px;
    position: fixed;
    
    background-image: none;
    background-color: rgb(38,38,38);
}
#toolbar
{
    box-shadow: 0px;
}
#menubtn
{
    background-image: none;
    background-color: transparent;
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
    border: none;
    position: relative;
    
}
a.image_container {
    background-color:transparent;
    width: 100%;
    
    height: 20%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-left: 15%;
}
a.image_container:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

a.image_container img {
    width: 100%;
    vertical-align: middle;
}

#propertypanel
{
    background-color:rgb(60,60,60);
    opacity: 0.8;
    width: 15%;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.element
{
    padding-left: 20px;
    padding-right: 20px;
    height: 20%;
   border: 2px;
    border-style: dotted;
    border-color: #242525;
    background-color: transparent;
    position: relative;
    text-align: center;
}
.element h1
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    color: white;
    text-align: center;
}
.element p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    color: white;
    text-align: center;
}
#menuimg
{
    margin: auto;
    height: 22px;
    width: auto;
    vertical-align: middle;
}
#toolimg
{
    
    height:0px;
    width:0px;
}
.ui-btn-inner
{
    border: 0px;
}
.paneltitle
{
    background-color: rgb(38,38,38);
    height: 10%;
}
.ui-btn-shadow {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
#panelicon
{
    margin: auto;
    vertical-align: middle;
    
}