body {} div {} .selectable {} .column {
    text-align: center;
    border: solid 1px #CCC;
}
.slide {
    margin: 10px 0;
}
.selected {
    border: solid 1px #ffff00;
}
#myGestureListener {
    position: fixed;
    height: 20px;
    background-color: rgba(101, 171, 176, 50);
    top: 0;
    right: 0;
    z-index: 100;
}